<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ABCBluetoothSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB5343BB25D3777500FCB850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5343D125D3777600FCB850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5343DC25D3777600FCB850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
